@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
 
/* Nav section  */
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 60px;
    margin: 0 auto;
}
nav >ul >div >li {
    list-style: none;
}
nav >ul >div >li >a{
    text-decoration: none;
}
#grid{
    display: none;
}
#logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
#menu-bar{
    display: flex;
    align-items: center;
    gap: 32px;
}
#btn{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
#school{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    
    
}
#home{
    color: rgb(254, 163, 1);
font-size: 20px;
font-weight: 500;
line-height: 30px;
}
#About{
    color: rgb(1, 172, 253);
    font-size: 20px;
font-weight: 500;
line-height: 30px;
}
#Facilities{
    color:rgb(5, 212, 223) ;
    font-size: 20px;
font-weight: 500;
line-height: 30px;
}
#Admission{
    color:rgb(93, 88, 239) ;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* Banner Section */
.banner{
    display: flex;
    gap: 40px;
    width: 1100px;
    height: 575px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.banner-h{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 0px;
    margin-top: 120px;
}
#emp{
    color: rgb(254, 163, 1);
}
#tow{
    color: rgb(1, 172, 253);
}
.banner-p{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    border-top: 24px;
    border-bottom: 24px;
}
.banner-btn{
    width: 197px;
    height: 50px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color:rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

/* Card Section */
.card-heading{
    text-align: center;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 80px;

}
.card{
    display: flex;
    justify-content: center;
    gap: 28px;
    
}
.card-container{
    padding: 60px;
}
.card-1, .card-2, .card-3{
    width: 365px; 
    height: 475px;
    border: 2px solid black;
    border-radius: 10px ;
    
    
    
}
.card-1, .card-2, .card-3{
    align-items: center;
    text-align: center;
    
}
.card-h4{
color: rgb(32, 32, 32);
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
}
.card-p{
    color: rgb(128, 128, 128);
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
text-align: center;
margin-top: 5px;

}
.card-btn-1{
color: rgb(100, 200, 255);
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
border: none;
background-color: white;
}
.card-btn-2{
color: rgb(240, 170, 0) ;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
border: none;
background-color: white;
}
.card-btn-3{
color:rgb(135, 0, 255);
font-size: 15.09px;
font-weight: 700px;
line-height: 28.3px;
border: none;
background-color: white;
}




/* Mobile Phone */
@media screen and (max-width : 576px) {
    nav > ul {
        width: 400px;
        height: 45px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 140px;
    }
    #grid{
        width: 30px;
        height: 30px;
    }
    #logo{
        
    }
    #menu-bar, #btn, #school{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    .banner-h, .banner-p, #bbt {
        text-align: center;
        font-weight: 700;
    }
    .banner-h, .banner-p{
        width: 100%;
    }
    .banner-img{
        width: 100%;
        height: 413px;
    }
    .banner-container{
        margin-top: 5px;
    }
    .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

