@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
 
/* Nav section  */
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 60px;
    margin: 0 auto;
}
nav >ul >div >li {
    list-style: none;
}
nav >ul >div >li >a{
    text-decoration: none;
}
#grid{
    display: none;
}
#logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
#menu-bar{
    display: flex;
    align-items: center;
    gap: 32px;
}
#btn{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
#school{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    
    
}
#home{
    color: rgb(254, 163, 1);
font-size: 20px;
font-weight: 500;
line-height: 30px;
}
#About{
    color: rgb(1, 172, 253);
    font-size: 20px;
font-weight: 500;
line-height: 30px;
}
#Facilities{
    color:rgb(5, 212, 223) ;
    font-size: 20px;
font-weight: 500;
line-height: 30px;
}
#Admission{
    color:rgb(93, 88, 239) ;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* Banner Section */
.banner{
    display: flex;
    gap: 40px;
    width: 1100px;
    height: 575px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.banner-h{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 0px;
    margin-top: 120px;
}
#emp{
    color: rgb(254, 163, 1);
}
#tow{
    color: rgb(1, 172, 253);
}
.banner-p{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    border-top: 24px;
    border-bottom: 24px;
}
.banner-btn{
    width: 197px;
    height: 50px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color:rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

/* Card Section */
.card-sec{
    background-image: url(/assets/bg.png);
    height: 700.02px;
}
.card-1{
    background-image: linear-gradient(180deg, rgb(139, 194, 226) 0.001%, white 20.034%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-2{
    background-image: linear-gradient(180deg, rgb(235, 213, 167) 0.001%, white 20.034%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-3{
    background-image: linear-gradient(180deg,rgb(201, 170, 240) 0.001%, white 20.034%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-heading, .story-heading{
    text-align: center;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 80px;

}
.card{
    display: flex;
    justify-content: center;
    gap: 28px;
    
}
.card-container{
    padding: 60px;
}
.card-1, .card-2, .card-3{
     width: 365px; 
    height: 475px;
    border: none;
    border-radius: 20px ;
    background-color: white;
    
    
}
.card-1, .card-2, .card-3{
    align-items: center;
    text-align: center;
    
}
.card-h4{
color: rgb(32, 32, 32);
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
}
.card-p{
    color: rgb(128, 128, 128);
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
text-align: center;
margin-top: 5px;

}
.card-btn-1{
color: rgb(100, 200, 255);
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
border: none;
background-color: white;
}
.card-btn-2{
color: rgb(240, 170, 0) ;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
border: none;
background-color: white;
}
.card-btn-3{
color:rgb(135, 0, 255);
font-size: 15.09px;
font-weight: 700px;
line-height: 28.3px;
border: none;
background-color: white;
}
/* Our Story Section */
.our-story{
    background-image: linear-gradient(0.00deg, rgb(245, 220, 191) 2.884%, rgba(16, 16, 16, 0) 101.034%),url("/assets/bg.png");
}
.story-heading{
    margin-top: 75px;
}
.story-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 19px;
    width: 1160px;
    height: 730.52px;

}
.story-1-container{
    width: 540.27px;
    height: 650.52px;
    background-color: white;
    border-radius: 10px
    
}
.story-1-img{

}
.story-1-btn{
    color: rgb(255, 255, 255);
    font-size: 15.34px;
    line-height: 28.76px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    border: none;
    margin-top: -600px;
    margin-left: 58px;
    padding: 15px;
}
.story-1-h3{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.35px;
    letter-spacing: 0%;
    text-align: left;
}
.story-1-p{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: px;
}
.story-1-contant{
text-align: center;
padding: 20px;
margin-top: 5px;
}
.square-story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:19.5px;
    height: 650px;
    border-radius: 10px;
}
.square-story-1{
    background-color: white;
    border-radius: 10px;
}
.square-story-h3{
    text-align: center;
}
.square-btn-1{
width: 174.51px;
height: 38.35px;
left: 38.35px;
top: 157.81px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
margin-top: -800px;
margin-left: 28px;
padding: 10px;
color: white;
font-size: 15.34px;
border: none;
}
.square-btn-2{
    width: 174.51px;
height: 38.35px;
left: 38.35px;
top: 157.81px;
border-radius: 47.93px;
background:rgb(93, 88, 240);
margin-top: -800px;
margin-left: 28px;
padding: 10px;
color: white;
font-size: 15.34px;
border: none;
}
.end-btn-div{
display: flex;
justify-content: center;
align-items: center;
}
.end-btn{
    padding: 10px; 
    border-radius: 12px;
background: rgb(17, 17, 17);

color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 700;
line-height: 25px;
width: 150px;
text-align: center;
margin-top: 25px;
}
/* Mobile Phone */


@media screen and (max-width : 576px) {
    nav > ul {
        width: 400px;
        height: 45px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 140px;
    }
    #grid{
        width: 30px;
        height: 30px;
    }
    #logo{
        
    }
    #menu-bar, #btn, #school{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    .banner-h, .banner-p, #bbt {
        text-align: center;
        font-weight: 700;
    }
    .banner-h, .banner-p{
        width: 100%;
    }
    .banner-img{
        width: 100%;
        height: 413px;
    }
    .banner-container{
        margin-top: 5px;
    }
    .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .our-story{
    max-width: 100%;
    max-height:770px;
}
.story-1-contant{
width: 173.09px;
height: 179.59px;
}
    .story-container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
        
}

}